#content-container{
  width: 90%;
  margin-left: 5%;
  background-color: #f5f0e4;
  margin-top: 10px;
}

#title-bar{
  padding: 20px;
}

#dish-bar{
  width: 100%;
  display: flex;
  align-items: center;
}


#photo-container{
  width: 512px;
  height: 700px;
}

#dishimg{
  width: 100%;

}


#content{
  width: calc(40% - 120px);
  height: 300px;
  margin-left: 20px;
  overflow: auto;
}


#ingredients-list{
  width: calc(40% - 212px);
  margin-left: 20px;
  overflow: auto;
}


#technical-information{
  width: calc(60% - 380px);
  margin-left: 20px;
}

#buttons{
  width: 100%;
  height: 40px;
  display: flexbox;
}


button{
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

#minatures{
  width: 100%;
  height: 25%;
  display: flex;
}

.mini-img{
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}


@media (max-width: 1150px) {
  #dish-bar{
    display: inline-table;
  }


  #photo-container{
    width: 100%;
    height: auto;
    background-color: none;
  }

  #dishimg{
    width: 100%;
    height: 390px;
    overflow: hidden;
    object-fit: cover;
  }


  #content{
    width: 95%;
    height: 230px;
    display: block;
    margin-right: 10px;
  }


  #ingredients-list{
    width: 95%;
    margin-top: 20px;
    display: block;
  }


  #technical-information{
    width: 95%;
    height: 300px;
    margin-top: 20px;
    display: block;
  }
}

