<div id="content-container">
  <h3>Restauracja SMAKI ŚWIATA zaprasza!</h3>

  <div id = card-container>
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.973299771853!2d19.91044081571759!3d50.06806167942452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e8e56e5b%3A0xe83b737e3df38729!2sWydzia%C5%82%20Informatyki%2C%20Elektroniki%20i%20Telekomunikacji%20Akademii%20G%C3%B3rniczo-Hutniczej%20w%20Krakowie!5e0!3m2!1spl!2spl!4v1641458900378!5m2!1spl!2spl" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div id = "important-data">
      <h1>Restauracja SMAKI ŚWIATA</h1><br/>
      <p>Oferujemy smaczne dania z różnych zakątków świata,
        tworzone przez wykwalifikowanych kucharzy, według tradycyjnych,
        regionalnych przepisów. Pozwól swoim kubkom smakowym na wyprawę
        na drugi koniec świata. Nie bój się i spróbuj dań kuchni włoskiej,
        polskiej, indyjskiej i wielu innych. W bogatej ofercie posiadamy
        także wyjątkowe napoje. </p> <br/>

      <h2>Dane kontaktowe:</h2>
      <p>Adres: Kawiory 21, 30-055 Kraków</p>
      <p>Telefon: 00 123 456 789</p>
      <p>e-mail: restauracja@smakiswiata.agh.edu.pl</p><br/>

      <h2>Godziny otwarcia:</h2>
      <p>Poniedziałek - czwartek: 9:00 - 17:00</p>
      <p>Piątek 9:00 - 21:00</p>
      <p>Sobota 8:00 - 20:00</p>
      <p>Niedziela 10:00 - 18:00</p><br/>

    </div>


  </div>

</div>

